/*General Styles*/
*{
  margin: 0;
  padding: 0;
}


/*Header Section*/

/*For Sidebar Menu*/
[canvas=container-fluid],
[off-canvas] {
    padding: 10px 20px;
}

[class*=js-] {
    cursor: pointer;
}

/*Nav Button Styles*/
.js-toggle-left-slidebar{
  margin: 25%;
  border: none;
  background: none;
}
.glyphicon-menu-hamburger{
  font-size: 3.5rem;

}

nav h1{
margin-top: 0;
margin-left: 5%;
padding-top: 0.3%;
}

.jumbotron{
  background: url("../img/banner.jpg");
  background-size: cover;
  height: 40rem;
}

.banner-statement{
  background: rgba(35, 107, 142 , 0.7 );
  width: 75%;
  border: 2px solid #000;
  border-radius: 1%;
  margin: 0 auto;
}
  .banner-statement p{
    padding: 2%;
    font-size: 3rem;
    color: white;
  }

  #menu-items li{
    list-style: none;
    font-size: 3rem
  }

  #menu-items li a{
    color: #fff
  }

  #menu-items li a:hover{
    text-decoration: none;
    color: #3b5998;
  }

/*Main Section*/
main{
  margin-top: 4%;
}

/*After school Section*/
#after-school p{
  font-size: 2rem;
}

#after-school li{
  list-style: none;
  font-size: 3rem;
}



#after-school img{
  border: 2px solid #000;
  width: 100%;
}

/*Other Program Section*/

#other-program{
  margin-top: 5%;

}
#other-program h2{
  text-align: center;
}

#other-program img{
  border: 2px solid #000;
  width: 100%
}

#other-program li{
  list-style: none;
  font-size: 3.5rem;
}

#after-school .mobile, #other-program .mobile{
  display: none;
}
/*Contact home Section*/

#contact{
  margin-top: 5%;
}

#contact h2{
  text-align: center;
  padding-left: 2%;
  font-size: 4rem
}

#contact li{
  list-style: none;
  font-size: 2rem;
  display: block;
  margin-left: 5%;
  margin-top: 2%;
  text-align: center;
  font-size: 3rem;
}

#contact .btn{
  margin-top: 5%;
  font-size: 5rem;
  background: #3b5998;
  color: #f7f7f7;
}
/*footer section*/
footer{
  margin-top: 2%;

}
footer h3{
  text-align: center;
}



/*Events Page*/
#events h1, #maps h1{
  margin-top: 5%;
}

#events iframe{
  margin-top: 5%;
  border: 2px solid #000;
  width: 100%;
  height: 600px;
}

#maps iframe{
  margin-top: 5%;
  border: 2px solid #000;
  width: 100%;
  height: 600px;
}

#maps{
  font-size: 3rem
}

#maps li{
  list-style: none;
  margin-top: 5%;
}

#maps2 iframe{
  display: none;

}

#maps2 p, #maps2 ul, #maps2 address, #maps2 li{
  display: none;

}
/*price page*/

#month{
  background: #666;
}
#price{
  background: #dfe3ee;
}
table, table th{
  border: 1px solid #000;
  width: 100%;
  text-align: center;
  color: #fff;
  border: none;
}

.school-price, .other-price-a, .other-price-b, .other-price-c{
  margin-top: 5rem;
}
  .school-price th, .other-price-a th, .other-price-b th, .other-price-c th{
    font-size: 4rem;
    background: #666;
    margin-top: 5rem;
  }
  .school-price td, .other-price-a td, .other-price-b td , .other-price-c td{
    font-size: 3rem;
    background: #3b5998;

  }

  /*Camp Page*/

  #camp{
  background: #FFA500;
}
#camp .well{
  background: #ffc966;
}
.camp{}
  .camp .camp-section-sub{
    margin-top: 5rem;
  }
    .camp h1{
      text-align: center;
      color: #fff;
      font-size: 8rem
    }
    .camp img{
      width: 100%;
      border: 2px solid #000;
    }
    .camp h2{
      font-size: 5rem;
      text-align: center;
    }
    .camp p{
      font-size: 5rem;
      padding: 5%;
    }


/*About Page*/

#about-header p{
  font-size: 3rem;
}

#about-header p img{
  width: 10%;
  border-radius: 35%;
  border: 1px solid #000;
  box-shadow: 3px 3px 3px;
}


#about-master img{
  width: 100%;
}


@media screen and (min-width: 320px) and (max-width: 500px) {
  /*Home Page*/
    .js-toggle-left-slidebar{
      margin: 2%;
    }
    nav h1{
      display: none;
    }

    .jumbotron{
      margin-top: 8%;
    }

    #banner p{
      font-size: 1.8rem;

    }

    #after-school h2{
      font-size: 2.5rem;
    }

    #after-school p{
      font-size: 1.5rem;
    }

    #after-school .col-xs-6{
      display: none;
    }

    #after-school .col-xs-12{
      display: block;
    }

    #after-school li{
      font-size: 2rem;
    }

    #other-program h2{
      font-size: 2.5rem;
    }

    #other-program .col-xs-6{
      display: none;
    }

    #other-program .col-xs-12{
      display: block;
    }

    #other-program li{
      font-size: 3rem;
      text-align: center;
    }

    #contact h2{
      font-size: 3rem;
    }

    #contact li{
      font-size: 1.5rem;
      margin-top: 10%;
    }

    #contact button{
      width: 99.2%;
    }
    /*Events Page*/
    #events{
        padding-top: 20px;
    }

    #events iframe{
      height: 300px;
    }

    #maps iframe, #maps p, #maps ul, #maps address{
      display: none;
    }

    #maps2 iframe{
      display: block;
      width: 100%;
      border: 2px solid #000;
    }

    #maps2 p, #maps2 ul, #maps2 address, #maps2 li{
      display: block;
      margin-top: 3%;
      list-style: none;
    }

    /*Price Page*/
    #price th{
      font-size: 3rem;
    }

    #price td{
      font-size: 2rem;
    }

    /*Camp page*/
    #camp h1{
      font-size: 4rem;
    }

    #camp h2{
      font-size: 3rem;
    }

    #camp p{
      padding: 0;
      font-size: 2rem;
    }

    .camp-section-sub h2{
      font-size: 1rem;
    }

    /*ABout Page*/
    #about-header p{
      font-size: 2rem;
    }
}

@media screen and (min-width: 760px) and (max-width: 1100px){
  /*Home Page*/
  nav h1{
    padding:0.7% 0 0 5%;
  }

  #after-school li{
    font-size: 2rem;
  }

  /*Camp Page*/
  .camp-section-sub p {
    font-size: 4rem;
  }
}

@media only screen  and (min-width : 1224px) {
  /*Genral Style*/
  #main, #camp{
    width: 90%;
    margin: 0% auto;
  }

  /*Events Page*/
  #events, #maps {
    width: 50%;
    float: left;
  }

  #events h1, #maps h1 {
    display: none;
  }

  #maps iframe{

    margin-top: 4.6rem;
    margin-left: 5rem;
  }


#maps p ,#maps li ,#maps address{
  font-size: 2rem;
  margin-left: 5rem;

}
#maps .address-events{
  margin-top: 5rem;
}
/*ABout page*/
  #main, #camp{
    margin-top: 5rem;
  }
}
